.nav {

  button {

    margin-right: auto;
    margin-left: auto;

    @media (--mode-desk) {
      margin-left: 0;
      margin-right: auto;
    }

    & + button {
      margin-top: 8px;
    }
  }

  .item:nth-child(1) {
    svg {
      font-size: 29.9px;
    }
  }
}
