.profileBox {
  padding: 10px;

  &:hover {
    color: var(--c-text-color);
  }

  .body {
    margin-right: 60px;

    * {
      display: block;
    }
  }

  .slugBelow {
    color: var(--c-gray);
    margin-left: 8px;
  }

  .icon {
    margin-left: auto;
    font-size: 20px;
  }
}
