.profileBox {
  padding: 10px;

  &:hover {
    color: var(--c-text-color);
  }

  .body {
    margin-left: 5px;
    margin-right: 65px;

    * {
      display: block;
    }
  }

  .slugBelow {
    color: var(--c-gray);
  }

  .icon {
    margin-left: auto;
  }
}
