.themeButton {
  background-color: var(--c-theme);
  color: #fff;
  height: 40px;
  min-width: 40px;
  font-weight: bold;

  &:hover {
    background-color: var(--c-tweet-hover);
    color: var(--c-text-color);
  }

  @media (--mode-desk) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.tall {
  height: 49px;
  min-width: 49px;

  @media (--mode-desk) {
    padding-left: 15px;
    padding-right: 15px;
  }

  svg {
    font-size: 22px;
  }
}
